.pageNav {
    display: inline-block;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    width: 160px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
.pageNav:hover {
  background-color: darkred;
}

/* MAIN PAGE CSS ================================================================================ */
   .mainPageBackground {
      margin: 0;
      padding: 0;
      background-image: url("images/BJJ\ Main.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no repeat;
      background-attachment: fixed;
   }

/* ================================================================================================= */


/* ABOUT PAGE CSS ================================================================================ */
   .aboutPageBackground {
      margin: 0;
      padding: 0;
      background-image: url("images/BJJ\ About.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no repeat;
      background-attachment: fixed;
      background-color: black;
   }
   .aboutPageText {
      font-size: 21px;
      padding: 10px;
      color: white;
      width: 90%;
      max-width: 1200px;
      margin: 20px auto;
      background: rgb(0, 0, 0, 0.7);
      border-radius: 5px;
      box-shadow: none;
   }
/* ================================================================================================= */

/* COMPETITION PAGE CSS ============================================================================ */
   .competitionPageBackground {
      margin: 0;
      padding: 0;
      background-image: url("images/BJJ\ Competition.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no repeat;
      background-attachment: fixed;
      background-color: black;
   }
   .competitionPageTable {
      background-color:  rgb(0, 0, 0, 0.6);
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      font-size: 21px;   
   }
   .competitionPageText {
      font-size: 21px;
      padding: 10px;
      color: white;
      width: 90%;
      max-width: 1200px;
      margin: 20px auto;
      background: rgb(0, 0, 0, 0.7);
      border-radius: 5px;
      box-shadow: none;
   }
/* ================================================================================================= */

/* SOCIAL MEDIA PAGE CSS ============================================================================ */
   .socialMediaImages {
      display: block;
      margin: 20px auto;
   }
/* ================================================================================================= */


/* INTERACTIVE BELT PAGE CSS ============================================================================ */
   .interactivePageBackground {
      margin: 0;
      padding: 0;
      background-image: url("images/BJJ\ Gym.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no repeat;
      background-attachment: fixed;
      background-color: black;
   }
/* ================================================================================================= */


h1{
    background: linear-gradient(to right, orange, red);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    animation: fadeIn 2s 1s forwards;
}
@keyframes fadeIn {
  from {opacity: 0;transform: translateY(-20px);}
  to {opacity: 1;transform: translateY(0);}
}
p {
   font-size: 20px;
   padding: 10px;
   color: white;
   width: 90%;
   max-width: 1200px;
   margin: 20px auto;
   background: linear-gradient(to bottom right, darkblue, skyblue);
   box-shadow: 5px 5px 6px gray;
   border-radius: 5px;
}
